.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries
.idea/sonarlint
.DS_Store
config.json
out
repositories/*
Thumbs.db
build
.gradle
*.iml
/.idea/*
!/.idea/codeStyles/
*.jar
*.zip
*.class
!/gradle/wrapper/gradle-wrapper.jar
