.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries
.idea/sonarlint
.DS_Store
config.json
history.json
out
repositories/*
Thumbs.db
build
.gradle
*.iml
/.idea/*
!/.idea/codeStyles/
*.jar
*.zip
*.class
!/gradle/wrapper/gradle-wrapper.jar
scenicView.*
.attach_pid*
.classpath
.project
bin
.settings
hs_err*.log
replay*.log
